php_value mbstring.http_output pass
php_value mbstring.internal_encoding UTF-8
php_value mbstring.language Japanese
php_value date.timezone "Asia/Tokyo"
php_flag display_errors Off
<IfModule mod_rewrite.c>
    RewriteEngine on
    RewriteBase /epgrec/
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule !\.(pdf|ico|gif|jpg|png|css|html|xml)$ index.php
</IfModule>
