<IfModule mod_rewrite.c>
    RewriteEngine on
    RewriteBase /epgrec/
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule !\.(pdf|ico|gif|jpg|png|css|html|xml)$ index.php
</IfModule>
